<template>
    <button
        class="inline-flex items-center px-4 py-2 bg-violet-900 border rounded-sm font-semibold text-xs text-white uppercase tracking-widest hover:bg-violet-950 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-300">
        <slot />
    </button>
</template>
