<script setup>
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import { Link } from '@inertiajs/vue3';
</script>

<template>
    <div class="bg-[url(@/Assets/Images/bg-login.png)] bg-cover bg-center">
        <div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gradient-to-r">
            <div>
                <a href="/">
                    <ApplicationLogo class="w-20 h-20 fill-current text-gray-500" />
                </a>
            </div>
            <div
                class="w-full sm:max-w-md mt-6 px-6 py-4 shadow-2xl overflow-hidden sm:rounded-lg border border-indigo-800">
                <slot />
            </div>
        </div>
    </div>
</template>
